
/* nav {
    background-color: #a6c48d;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: #24646d;
    background-color:#c0be81;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
} */


#homepage{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:#ffb4b1;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

#abtme{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:#ffb4b1;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

#callme{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:#ffb4b1;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

#workskills{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:rgb(122, 163, 163);
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}


.headers{
    margin: 30px 15px 30px 15px;
    padding:5px;
    font-size:50px;
    color: #5f4737;
    font-family: 'Charmonman', cursive;
} 

.navbar{
    margin:0;
    padding:0;
    background-color: #a6c48d;
    overflow: hidden;
    }
    nav ul{
        margin: 0;
        padding: 0;
    }
    nav ul li {
        margin:0;
        padding:0;
        display: inline-block;
        list-style-type: none;
    }
    
    nav > ul > li > a {
        color: #24646d;
        background-color:#c0be81;
        display: block;
        line-height: 2em;
        padding: 0.5em 0.5em;
        text-decoration: none;
    }
}

a:hover {
    background-color: maroon;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
.flex-item {
    object-fit: cover;
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .family {
    object-fit: cover;
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

.imgsize{
    width:480px;
    height:500px;
}

@media screen and (min-width:776px){
.grid{
    display:grid;
    margin:25px;
    padding:13px;
    grid-template-columns:1fr 1fr; 
    grid-template-rows:1fr;
    grid-row-gap: 100px;
    grid-column-gap: 50px;
    grid-template-areas:
    "one two"
}
}

.grid2{
    display:grid;
    margin:25px;
    padding:13px;
    grid-template-columns:1fr 1fr; 
    grid-template-rows:1fr 1fr 1fr;
    grid-row-gap:100px;
    grid-column-gap: 50px;
    grid-template-areas:
    "three four"
    "five six"
    "seven seven"  
}

.one{
    grid-area:one;
}

.two{
    grid-area:two;
    font-size: 30px;
}

.three{
    grid-area:three;
}

.four{
    grid-area:four;
}
.five{
    grid-area: five
}

.six{
    grid-area: six
}

.seven{
    grid-area: seven
}

.profilepic{
    /* width:350px;
    height:539px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.endpic{
    width:625px;
    height:763px;
}